.icon-size{
	font-size: 32px;
	cursor: pointer;
	color: #ccc;
}

.selected .icon-size{
	color: #333;
}

.section {
	padding: 0;
}

.list-group-category{
	margin: 20px 0;
}

.list-group-category > .active{
	background-color: #FF7550;
	border-color: #FF7550;
	text-transform: uppercase;
}

.logo img{
	height: 120px;
}

.footer .single-widget.about img{
	border-radius: 2px;
}

.single-blog .blog-content h4{
	min-height: 90px;
}

.single-blog .blog-content h4 a{
	min-height: 75px;
}

.crop-title {
	width:100%;
	overflow:hidden;
	height:85px;
	text-overflow: ellipsis;
}

.crop-content {
	width:100%;
	overflow:hidden;
	height:108px;
	text-overflow: ellipsis;
}
.blog-area.archive.single .blog-content p{
	margin-bottom: 0px;
}
.blog-area .blog-content span{
	margin-bottom: 0;
}

#clients{
	padding-top: 30px;
	margin: 0 0 30px 0;
}