.icon-size{
	font-size: 32px;
	cursor: pointer;
	color: #ccc;
}

.selected .icon-size{
	color: #333;
}

.section {
	padding: 45px 0;
}

.list-group-category{
	margin: 20px 0;
}

.list-group-category > .active{
	background-color: #FF7550;
	border-color: #FF7550;
	text-transform: uppercase;
}

.logo img{
	height: 120px;
}

.footer .single-widget.about img{
	border-radius: 2px;
}

.single-blog .blog-content h4{
	min-height: 90px;
}

.single-blog .blog-content h4 a{
	min-height: 75px;
}

.blog-area.archive .blog-content h4{
	min-height: 85px;
}